In [1]:
# DATAFRAME: collezione di serie con lo stesso indice

In [14]:
#costruzione di un df a partire da un file csv
#argomento sep: come i dati sono separati nel csv
import csv
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
heroes = pd.read_csv('heroes.csv', sep = ';', index_col = 0)
heroes

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
A-Bomb,Richard Milhouse Jones,"Scarsdale, Arizona",Marvel Comics,203.21,441.95,M,2008.0,Yellow,No Hair,100.0,moderate
Abraxas,Abraxas,Within Eternity,Marvel Comics,NaN,NaN,M,NaN,Blue,Black,100.0,high
Abomination,Emil Blonsky,"Zagreb, Yugoslavia",Marvel Comics,203.04,441.98,M,NaN,Green,No Hair,80.0,good
Adam Monroe,NaN,NaN,NBC - Heroes,NaN,NaN,M,NaN,Blue,Blond,10.0,good
Agent 13,Sharon Carter,NaN,Marvel Comics,173.41,61.03,F,NaN,Blue,Blond,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Alan Scott,Alan Ladd Wellington Scott,Gotham City,DC Comics,180.98,90.81,M,1940.0,Blue,Blond,80.0,good
Amazo,NaN,NaN,DC Comics,257.49,173.95,M,1960.0,Red,NaN,100.0,good
Ant-Man,Hank Pym,"Elmsford, New York",Marvel Comics,211.74,122.44,M,1962.0,Blue,Blond,20.0,high
Ajax,Francis,NaN,Marvel Comics,193.34,90.63,M,1998.0,Brown,Black,50.0,average
Alex Mercer,Alexander J. Mercer,NaN,Wildstorm,NaN,NaN,M,NaN,NaN,NaN,80.0,average

In [15]:
#accesso tramite nome del carattere: sottoinsieme di colonne
heroes['Gender']

Name
A-Bomb         M
Abraxas        M
Abomination    M
Adam Monroe    M
Agent 13       F
              ..
Alan Scott     M
Amazo          M
Ant-Man        M
Ajax           M
Alex Mercer    M
Name: Gender, Length: 735, dtype: object

In [16]:
#accesso tramite slicing: sottoinsieme di righe
heroes['Agent 13':'Air-Walker']

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
Agent 13,Sharon Carter,NaN,Marvel Comics,173.41,61.03,F,NaN,Blue,Blond,NaN,NaN
Air-Walker,Gabriel Lan,"Xandar, a planet in the Tranta system, Androme...",Marvel Comics,188.59,108.23,M,NaN,Blue,White,85.0,average

In [5]:
#accesso con loc

In [17]:
#un solo valore: ritorna una serie
heroes.loc['Professor X']

Identity            Charles Francis Xavier
Birth place             New York, New York
Publisher                    Marvel Comics
Height                              183.74
Weight                               86.89
Gender                                   M
First appearance                    1963.0
Eye color                             Blue
Hair color                         No Hair
Strength                              10.0
Intelligence                          high
Name: Professor X, dtype: object

In [18]:
#slicing con iloc: ritorna un df
heroes.iloc[42:46] #42 incluso 46 escluso

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
Warbird,Carol Danvers,"Boston, Massachusetts",Marvel Comics,180.56,54.75,F,NaN,Blue,Blond,NaN,NaN
Wildfire,Drake Burroughs,NaN,DC Comics,NaN,NaN,M,NaN,NaN,NaN,35.0,average
Vulture,Adrian Toomes,"Staten Island, New York City",Marvel Comics,180.61,79.63,M,NaN,Brown,No Hair,25.0,good
Warp,Emil LaSalle,NaN,DC Comics,173.42,67.42,M,1981.0,Brown,Black,10.0,moderate

In [19]:
#loc selezionando solo alcune righe con slicing
heroes.loc['Professor X', 'Height':'Weight']

Height    183.74
Weight     86.89
Name: Professor X, dtype: object

In [20]:
#metodo at: accede a un elemento
heroes.at['Superman', 'Strength']

100.0

In [22]:
#metodo iat: come prima ma con indici
heroes.iat[500, -1]

'high'

In [23]:
'''
metodo sort_values: ordina gli elementi del df secondo 
una chiave di ordinamento, un carattere del df. 
Argomento ascending = False vuol dire ordine decrescente
'''
heroes.sort_values(by = 'Weight', ascending = False)[:5]

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
Sasquatch,Walter Langkowski,"Edmonton, Alberta, Canada",Marvel Comics,305.02,900.70,M,NaN,Red,Orange,80.0,good
Juggernaut,Cain Marko,"Berkeley, California",Marvel Comics,287.95,855.82,M,1965.0,Blue,Red,100.0,average
Darkseid,Uxas,NaN,DC Comics,267.37,817.57,M,1970.0,Red,No Hair,100.0,high
Hulk,Bruce Banner,"Dayton, Ohio",Marvel Comics,244.40,630.90,M,1962.0,Green,Green,100.0,high
Giganta,Doris Zuel,NaN,DC Comics,62.65,630.80,F,1944.0,Green,Red,90.0,high

In [27]:
#metodo sort_index: ordina in base all'indice
heroes.sort_index()[-5:]

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
Yellowjacket II,Rita DeMara,NaN,Marvel Comics,165.58,52.36,F,NaN,Blue,Strawberry Blond,10.0,average
Ymir,Ymir,Niffleheim,Marvel Comics,304.63,NaN,M,NaN,White,No Hair,100.0,average
Yoda,Yoda,NaN,George Lucas,66.29,17.01,M,1980.0,Brown,White,55.0,high
Zatanna,Zatanna Zatara,NaN,DC Comics,170.29,57.77,F,NaN,Blue,Black,10.0,high
Zoom,Hunter Zolomon,NaN,DC Comics,185.90,81.93,M,NaN,Red,Brown,10.0,average

In [30]:
print('Sia sort_index che sort_values restituiscono un dataframe, in particolare\nuna copia del df di partenza')

Sia sort_index che sort_values restituiscono un dataframe, in particolare
una copia del df di partenza

In [31]:
#selezione booleana delle righe da selezionare 
heroes_with_year = heroes[heroes['First appearance'] > 1990]
heroes_with_year.head()

,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
Name,,,,,,,,,,,
A-Bomb,Richard Milhouse Jones,"Scarsdale, Arizona",Marvel Comics,203.21,441.95,M,2008.0,Yellow,No Hair,100.0,moderate
Agent Bob,Bob,NaN,Marvel Comics,178.25,81.45,M,2007.0,Brown,Brown,10.0,low
Abe Sapien,Abraham Sapien,NaN,Dark Horse Comics,191.24,65.35,M,1993.0,Blue,No Hair,30.0,high
Angel Salvadore,Angel Salvadore Bohusk,NaN,Marvel Comics,163.57,54.67,F,2001.0,Brown,Black,10.0,moderate
X-Man,Nate Grey,American Northeast of Earth-295,Marvel Comics,175.82,61.80,M,1995.0,Blue,Brown,55.0,high